@inherits LayoutComponentBase

<PageTitle>Passwordless.Blazor.App</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginForm></LoginForm>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
